
.done-btn {
  margin: 7px;
  border: none;
  border-radius: 8px;
  background-color: rgb(56, 58, 56);
  font-weight: 300;
  color: #ffffff;
}

.return-btn {
  margin: 7px;
  border: none;
  border-radius: 8px;
  background-color: rgb(56, 58, 56);
  font-weight: 300;
  color: #ffffff;
}

.delete-btn {
  margin: 7px;
  border: none;
  border-radius: 8px;
  background-color: rgb(56, 58, 56);
  font-weight: 300;
  color: #ffffff;
}

.task-visual {
  margin: 7px;
  background-color: #ffffff;
  color:  rgb(56, 58, 56);
  border: 1px solid rgb(56, 58, 56);
  padding: 3px;
  border-radius: 6px;
}